!/configs/monitoredEvents.json
/configs/myHaloKeys.auth
test/*
*.pyc
lib/*.pyc
configs/configdir/*
config/*
data/*
.idea/CloudPassage_EventConnector_toolbox.iml
.idea/misc.xml
.idea/modules.xml
.idea/preferred-vcs.xml
.idea/workspace.xml

